<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="http://www.springframework.org/schema/beans                            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd              http://www.springframework.org/schema/context                      http://www.springframework.org/schema/context/spring-context-3.2.xsd             http://www.springframework.org/schema/tx                            http://www.springframework.org/schema/tx/spring-tx-3.2.xsd                            http://www.springframework.org/schema/aop                            http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">  
  <bean id="userDao" class="cn.wyx.dao.impl.UserDaoImpl"> 
    <property name="sessionFactory" ref="sessionFactory"/> 
  </bean>  
  <bean id="aboutDao" class="cn.wyx.dao.impl.AboutDaoImpl"> 
    <property name="sessionFactory" ref="sessionFactory"/> 
  </bean>  
  <bean id="yewuDao" class="cn.wyx.dao.impl.YewuDaoImpl"> 
    <property name="sessionFactory" ref="sessionFactory"/> 
  </bean>  
  <bean id="contactDao" class="cn.wyx.dao.impl.ContactDaoImpl"> 
    <property name="sessionFactory" ref="sessionFactory"/> 
  </bean>  
  <bean id="anliDao" class="cn.wyx.dao.impl.AnliDaoImpl"> 
    <property name="sessionFactory" ref="sessionFactory"/> 
  </bean>  
  <bean id="huodongDao" class="cn.wyx.dao.impl.HuodongDaoImpl"> 
    <property name="sessionFactory" ref="sessionFactory"/> 
  </bean>  
  <bean id="fileupDao" class="cn.wyx.dao.impl.FileupDaoImpl">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
</beans>
